*{
    padding: 1rem;
    margin: 0rem;
    text-align: center;
}
h1{
   height: 5rem;
   color: rgb(217, 240, 9); 
   text-align: center; 
   border: 5rem;
   background-color: black;
   line-height: 1rem;

}
.choice{
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 0rem;
    gap: 0rem;
    margin-left: 15rem;
}
#your-score,#computer-score{
    text-align: center;
    margin: 3rem;
font-size : 5rem;
}
.msg-container {
    color: aliceblue;
    background-color:rgb(4, 230, 246);
   font-size: 2rem;
   text-align: center;
}
